.header {
    flex: 1;
    height: 65px;
}

.header-page-title {
    color: white;
    text-decoration: none;
    flex: 1;
}

.navbar-brand {
    color: inherit;
    text-decoration: inherit;
    display: flex;
    margin: 5px;
}
